.servicesSection {
  position: relative;
  width: 100vw;
}

.servicesIntro {
  position: relative;
  width: 100vw;
  height: 16em;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.servicesIntro h2 {
  font-size: 3rem;
  font-weight: 600;
}


/* Individual card styles */
.card {
  position: relative;
  height: 25em;
}

.cardInner {
  position: relative;
  will-change: transform;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  gap: 4em;
  align-items: top;
}

.cardContent {
  flex: 3;
}

.cardContent h1 {
  margin-bottom: 1em;
}

.cardImg {
  flex: 1;
  aspect-ratio: 16/9;
  border-radius: 0.75em;
  overflow: hidden;
}

/* Card color variants */
.card1 .cardInner {
  background-color: #c3abff;
}

.card2 .cardInner {
  background-color: #ffffff;
}

.card3 .cardInner {
  background-color: #fed35b;
}

.card4 .cardInner {
  background-color: #1e1e1e;
  color: #ffffff;
}

.servicesOutro {
  position: relative;
  width: 100vw;
  height: 8em;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

/* Responsive */
@media (max-width: 900px) {
  .cardImg,
  .cardContent p {
    display: none;
  }

  .card {
    height: 300px;
  }

  .cardInner {
    padding: 1.5em;
  }

  .servicesIntro h2 {
    font-size: 2rem;
  }
}